.top{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 30px #ff0022 solid;
    border-top:30px  #fbff00 solid;
    animation: spin  1s ease-in 0s infinite normal;
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    25%{
        border-color: #4f1119;
        border-top:30px  #ffd900 solid;}
75%{
        border-color: #3c68ed;
        border-top:30px  #ffdd00 solid;}
    100% { transform: rotate(360deg); }
}