div{
    display: flex;
    position: relative;
    display: inline-flex;
transition: all ease-in-out 0.02s ;
translate:400px 400px;

margin: 0;
}
#c,#b,#a{
    height: 500px;
    width: 500px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: blue;
}
div:hover{
    #a{
        background-color: rgb(187, 247, 8);
        transform: rotate(360deg);
        transition-duration: 1s;
    }
    #b{
        background-color: rgb(247, 8, 8);
        transform: rotate(360deg);
        transition-duration: 1s;
    }
    #c{
        background-color: rgb(8, 239, 247);
        transform: rotate(360deg);
        transition-duration: 1s;
    }
}